@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Dosis", sans-serif;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}
