@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: var(--font-dosis), sans-serif;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}
